<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

</head>
<body>
	<div></div>
	 <div id="main-content">
	 </div>
    <script src="/bundle.js"></script>
</body>
</html>